.OLinkTerminal {
    padding-top: 50px;
    box-sizing: border-box;
    font-family: PingFangSC-Light, 'Microsoft YaHei';
}

.OLinkTerminal h3:nth-of-type(1) {
    font-size: 36px;
    color: #797979;
    text-align: center;
    font-weight: lighter;
}

.OLinkTerminal p.paragraph {
    font-size: 16px;
    color: #a8a8a8;
    text-align: left;
    font-weight: lighter;
    text-align: justify;
    line-height: 24px;
    margin-top: 20px;
}

.OLinkTerminal p.fenge {
    width: 100%;
    height: 4px;
    background: url(../img/Olinkfenge.png)no-repeat;
    margin-top: 50px;
}

.OLinkTerminal h3.title {
    font-size: 36px;
    color: #797979;
    text-align: center;
    font-weight: lighter;
    margin: 50px 0;
}

.OLinkTerminal dl {
    position: relative;
}

.OLinkTerminal dl dt {
    width: 330px;
    height: 330px;
    background: url(../img/OLinkbg.png)no-repeat;
    margin: 200px auto 300px;
}

.OLinkTerminal dl dd:nth-of-type(1) {
    width: 345px;
    height: 130px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: -166px;
    left: 50%;
    margin-left: -176px;
}

.OLinkTerminal dl dd:nth-of-type(1)::before {
    content: '';
    width: 1px;
    height: 35px;
    background: #cdcdcd;
    position: absolute;
    top: 128px;
    left: 164px;
}

.OLinkTerminal dl dd h6 {
    font-size: 24px;
    color: #797979;
    text-align: left;
    font-weight: lighter;
}

.OLinkTerminal dl dd p {
    font-size: 16px;
    color: #a8a8a8;
    text-align: left;
    font-weight: lighter;
}

.OLinkTerminal dl dd:nth-of-type(1) {
    width: 345px;
    height: 130px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: -166px;
    left: 50%;
    margin-left: -176px;
}

.OLinkTerminal dl dd:nth-of-type(2) {
    width: 265px;
    height: 130px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: 98px;
    left: 32px;
}

.OLinkTerminal dl dd:nth-of-type(2)::before {
    content: '';
    width: 62px;
    height: 1px;
    background: #cdcdcd;
    position: absolute;
    top: 70px;
    left: 263px;
    z-index: -1;
}

.OLinkTerminal dl dd:nth-of-type(3) {
    width: 380px;
    height: 210px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: 348px;
    left: 32px;
}

.OLinkTerminal dl dd:nth-of-type(3)::before {
    content: '';
    width: 85px;
    height: 1px;
    background: #cdcdcd;
    position: absolute;
    top: -25px;
    left: 310px;
    z-index: -1;
    -webkit-transform: rotate(-34deg);
    -moz-transform: rotate(-34deg);
    -ms-transform: rotate(-34deg);
    -o-transform: rotate(-34deg);
    transform: rotate(-34deg);
}

.OLinkTerminal dl dd:nth-of-type(4) {
    width: 380px;
    height: 210px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: 348px;
    left: 564px;
}

.OLinkTerminal dl dd:nth-of-type(4)::before {
    content: '';
    width: 85px;
    height: 1px;
    background: #cdcdcd;
    position: absolute;
    top: -25px;
    left: -3px;
    z-index: -1;
    -webkit-transform: rotate(34deg);
    -moz-transform: rotate(34deg);
    -ms-transform: rotate(34deg);
    -o-transform: rotate(34deg);
    transform: rotate(34deg);
}

.OLinkTerminal dl dd:nth-of-type(5) {
    width: 265px;
    height: 130px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: 98px;
    left: 694px;
}

.OLinkTerminal dl dd:nth-of-type(5)::before {
    content: '';
    width: 62px;
    height: 1px;
    background: #cdcdcd;
    position: absolute;
    top: 70px;
    right: 263px;
    z-index: -1;
}

.OLinkTerminal h3.title {
    font-size: 36px;
    color: #797979;
    text-align: center;
    font-weight: lighter;
    margin: 50px 0 20px;
}

.xitong {
    width: 862px;
    height: 600px;
    background: url(../img/xitongpic.png) center no-repeat;
    margin: 0 auto;
}

.OLinkTerminal .main {
    width: 1009px;
    height: 684px;
    background: url(../img/OLinkmain.png) 0 0 no-repeat;
}

.banner {
    height: 500px;
    width: 100%;
    background: url(../img/OLinkbanner.png) center no-repeat;
}

.banner .conter {
    width: 769px;
    height: 194px;
    background: url(../img/OLinkbannerconter.png) center no-repeat;
    margin: 130px auto;
}
