<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>证通网络</title>
</head>
<link rel="stylesheet" type="text/css" href="libs/wow/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="libs/swiper/css/swiper-3.3.1.min.css" />
<link rel="stylesheet" type="text/css" href="css/initial.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
<link rel="stylesheet" type="text/css" href="css/index.css" />
<script type="text/javascript">
// $(function() {

// })
</script>

<body ng-app="myApp" ng-controller="personCtrl">
    <!-- 导航 -->
    <nav class="nav" id="position01">
        <section class="warp">
            <div class="logo fl">
                <a href="index.html"><img src="img/logo.png" height="51" width="277" alt="" /></a>
            </div>
            <ul class="navTitle fl">
                <li style="padding:0;" class="subnav">
                    <h3 class="current"><a href="index.html">首页</a></h3>
                </li>
                <li class="subnav">
                    <h3><a href="huishenghuo.html">产品服务</a></h3>
                    <ul class="menu">
                        <li><a href="huishenghuo.html">惠生活</a></li>
                        <li><a href="yiqushenghuo.html">益趣生活</a></li>
                        <li><a href="vLink.html">V'Link</a></li>
                        <li><a href="OLink.html">O'Link</a></li>
                    </ul>
                </li>
                <li class="subnav">
                    <h3><a href="HSH_Solve.html">解决方案</a></h3>
                    <ul class="menu">
                        <li><a href="HSH_Solve.html">惠生活</a></li>
                        <li><a href="YQSH_Solve.html">益趣生活</a></li>
                    </ul>
                </li>
                <li class="subnav">
                    <h3><a href="newsCenter.html">新闻中心</a></h3>
                    <!--                     <ul class="menu">
                        <li><a href="newsCenter.html">最新动态</a></li>
                        <li><a href="newsCenter.html">行业动态</a></li>
                        <li><a href="newsCenter.html">公司新闻</a></li>
                    </ul> -->
                </li>
                <li class="subnav">
                    <a href="recruitment.html"><h3>招贤纳士</h3></a>
                </li>
                <li class="subnav">
                    <h3><a href="aboutUs.html">关于我们</a></h3>
                </li>
                <div id="switch_bottom"></div>
            </ul>
            <secton class="code fl">
                <div class="pic animated bounceIn"></div>
            </secton>
        </section>
    </nav>
    <!-- banner -->
    <div class="swiper-container banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="OLink.html">
                    <!-- <img src="img/indexbanner01.png" height="auto" width="100%" alt="" /> -->
                    <div class="bannerbg01"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="HSH_Solve.html">
                    <!-- <img src="img/indexbanner02.png" height="auto" width="100%" alt="" /> -->
                    <div class="bannerbg02"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="yiqushenghuo.html">
                    <!-- <img src="img/indexbanner03.png" height="auto" width="100%" alt="" /> -->
                    <div class="bannerbg03"></div>
                </a>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- 产品服务 -->
    <!-- ==================== -->
    <!-- 惠生活 -->
    <section class="serviceHuishenghuo">
        <div class="serviceHeader">
        </div>
        <div class="line"></div>
        <div class="HhuishenghuoMain wrap">
            <h3>惠生活</h3>
            <p> “惠生活O2O社区服务平台”依托于移动互联网，立足于社区银行网点，将银行、社区商户、社区居民三者有机结合，目的在于为银行创造新的金融服务模式、为商家创造更广泛商机、为社区居民创造更为便利社区生活而定制的服务型O2O生态圈。通过该项目的建设，可以深化银行网点转型，支撑银行主业（如：增加客户粘性、吸储、科学放贷及大数据资产等），加速银行互联网金融的推进。
            </p>
            <div class="viewMore"><a href="huishenghuo.html">查看更多>></a></div>
        </div>
        <ul class="clearfix">
            <li></li>
            <li></li>
            <li></li>
            <li style="margin-right:0;"></li>
        </ul>
    </section>
    <div class="mainBox">
        <div class="serviceTitle">
            <span>产品服务</span>
            <span>PRODUCT</span>
        </div>
        <div class="iphone"></div>
    </div>
    <!-- 益趣 -->
    <section class="serviceYiqu">
        <div class="wrap clearfix">
            <h3>益趣生活</h3>
            <p> 以“福二袋”为代表的“益趣生活”环保公益服务平台，主要用于协助政府推动垃圾分类，解决“垃圾围城”困境。它融合了人工智能、移动互联网、大数据分析和环保科技，为居民免费提供可降解的环保垃圾袋和普及垃圾分类环保知识，并对社区居民的垃圾分类情况实时跟踪与数据采集分析。同时还凝聚了社会公益资源，如：二手物品置换、公益募捐，社区政务信息宣传，免费Wi-Fi等，凭借平台得天独厚的“近民”优势，开创了一揽子智慧化社区服务新模式。
            </p>
            <div class="viewMore"><a href="yiqushenghuo.html">查看更多>></a></div>
            <ul>
                <li id="background01">
                    <div id="app01" href="#"></div>
                </li>
                <li id="background02">
                    <div id="app02" href="#"></div>
                </li>
                <li id="background03">
                    <div id="app03" href="#"></div>
                </li>
                <li id="background04">
                    <div id="app04" href="#"></div>
                </li>
                <li id="background05">
                    <div id="app05" href="#"></div>
                </li>
                <li id="background06">
                    <div id="app06" href="#"></div>
                </li>
            </ul>
        </div>
    </section>
    <!-- 解决方案 -->
    <section class="solve">
        <div class="wrap">
            <div class="serviceTitle">
                <span>解决方案</span>
                <span> SOLUTION</span>
            </div>
            <ul>
                <li class="core">
                    <div></div>
                    <div>
                        <h5>惠生活</h5>
                        <p>以平台为载体，以服务为纽带，通过线上线下相结合，为社区居民提供实惠、便捷服务，让服务直达民生最后一公里，真正践行善惠金融。
                        </p>
                    </div>
                    <a href="HSH_Solve.html">
                        <section class="pic_more"></section>
                    </a>
                    <div class="solvebg"></div>
                </li>
                <li class="core">
                    <div></div>
                    <div>
                        <h5>益趣生活</h5>
                        <p>凝聚社会公益资源，打造新的社区经济圈服务模式，共同致力于智慧社区，智慧城市的建设。
                        </p>
                    </div>
                    <a href="YQSH_Solve.html">
                        <section class="pic_more"></section>
                    </a>
                    <div class="solvebg"></div>
                </li>
            </ul>
        </div>
    </section>
    <!-- 新闻中心 -->
    <section class="newsCenter">
        <div class="serviceTitle">
            <span>新闻中心</span>
            <span>NEWS CENTER</span>
        </div>
        <div class="box"><a href="newsCenter.html">查看更多>></a></div>
        <div class="wrap">
            <div class="newsCenterMain clearfix">
                <div class="newsblock">
                    <ol>
                        <li class="current">最新动态</li>
                        <li>行业动态</li>
                        <li>公司新闻</li>
                    </ol>
                    <ul class="fr">
                        <li ng-repeat="news in newscontent">
                            <a href="newsdetail.php?code={{news.code}}&id={{news.id}}">
                                <div class="currentPic fl">
                                    <img ng-src="../upload/{{news.titleimg}}" alt="" err-src="img/404.gif">
                                </div>
                                <div class="paragraph fl">
                                    <h3>{{news.title}}</h3>
                                    <div class="data fr">
                                        <p>{{news.time | reverse:true}}</p>
                                        <p>{{news.time | reverse:false}}</p>
                                    </div>
                                    <p class="describe
">{{news.description}}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="fr">
                        <li ng-repeat="idnews in industrydynamics">
                            <a href="newsdetail.php?code={{idnews.code}}&id={{idnews.id}}">
                                <div class="currentPic fl">
                                    <img ng-src="../upload/{{idnews.titleimg}}" alt="" err-src="img/404.gif">
                                </div>
                                <div class="paragraph fl">
                                    <h3>{{idnews.title }}</h3>
                                    <div class="data fr">
                                        <p>{{idnews.time | reverse:true }}</p>
                                        <p>{{idnews.time | reverse:false}}</p>
                                    </div>
                                    <p class="describe
">{{idnews.description}}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="fr">
                        <li ng-repeat="cnews in Companynews">
                            <a href="newsdetail.php?code={{cnews.code}}&id={{cnews.id}}">
                                <div class="currentPic fl">
                                    <img ng-src="../upload/{{cnews.titleimg}}" err-src="img/404.gif" alt="">
                                </div>
                                <div class="paragraph fl">
                                    <h3>{{cnews.title}}</h3>
                                    <div class="data fr">
                                        <p>{{cnews.time | reverse:true}}</p>
                                        <p>{{cnews.time | reverse:false}}</p>
                                    </div>
                                    <p class="describe
">{{cnews.description}}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- 合作伙伴 -->
    <section class="partners" id="position07">
        <div class="wrap">
            <div class="partnersMain">
                <div class="serviceTitle">
                    <span>合作伙伴</span>
                    <span>COOPERNTIVE  PARTNER</span>
                </div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 招贤纳士 -->
    <section class="recruitment">
        <div class="wrap clearfix">
            <div class="recruitmentMain">
                <div class="serviceTitle">
                    <span>招贤纳士</span>
                    <p>INVITE THE WISE AND VIRTUOUS</p>
                </div>
                <ol class="clearfix class=" wow fadeInUp "">
                    <li class="curr">社会招聘</li>
                    <li>校园招聘</li>
                </ol>
                <p class="eml">简历请投：ztwl@szzt.com.cn</p>
                <ul>
                    <li>
                        <div class="tite">JAVA初级开发工程师</div>
                        <p class="content1">
                            <span class="contil">【岗位职责】</span>
                            <br/>1.按模块进行软件设计，能独立完成分配的开发任务；
                            <br/>2.日常开发及维护，支持外场测试；
                            <br/>3.编写工作过程中相关文档；
                            <br/><span class="contil">【任职要求】</span>
                            <br/> 1.计算机相关专业，有实际项目经验优先；
                            <br/> 2.熟悉主流Java开发技术，如：Struts、Hibernate、Spring、iBatis、Webservice等；
                            <br/> 3.了解JavaScript开发；
                            <br/> 4.掌握XML、HTML、AJAX、Json技术；
                            <br/> 5.熟悉常用数据库SQL Server、Oracle、MySQL及其编程应用；
                            <br/> 6.沟通协调能力较强。
                            <br/>
                        </p>
                        <div class="more">
                            <p class="moreIcon"></p>
                        </div>
                    </li>
                    <li>
                        <div class="tite">web前端开发工程师</div>
                        <p class="content1">
                            <span class="contil">【岗位职责】</span>
                            <br />1.根据要求实现web页面实现多种前端展示与交互效果；
                            <br />2.负责移动web应用开发，并按照项目设计进度要求完成编码；
                            <br />3.参与软件的研发全过程，负责系统模块的设计、开发、产品化等工作，包括开发的相关文档。
                            <br/><span class="contil">【任职要求】</span>
                            <br />1.大专以上学历，有实际项目、微信开发经验优先；
                            <br />2.精通html和css及javascript面向对象编程方法，能够手写页面代码；
                            <br />3.熟练应用html5、css3；熟悉web2.0标准；了解dom、xml、json等相关技术；
                            <br />4.熟悉运用常见js开发框架(如jquery，sencha touch，iwebkit，backbone，angularjs)， 能快速高效实现各种交互效果；
                            <br />5.追求完美用户体验，工作认真细致，有责任心，具备良好的团队沟通与协作能力。
                        </p>
                        <div class="more">
                            <p class="moreIcon"></p>
                        </div>
                    </li>
                    <li>
                        <div class="tite">微信运营专员</div>
                        <p class="content1">
                            <span class="contil">【岗位职责】</span>
                            <br/> 1.独立负责运营公司微信官方账号，日常内容编辑、发布、维护、管理、互动、提高影响力和关注度；
                            <br/>2.负责微信公众账号的内容更新、人群聚焦、话题发起、客户管理等工作；
                            <br/>3.负责微信公众账号推广模式与渠道的探索，了解用户需求，收集用户反馈，分析用户行为及需求；
                            <br/>4.制定社会化媒体运营与品牌营销策略，在微信、豆瓣等社会化媒体开展品牌营销宣传工作；
                            <br/>5.利用微信平台推广企业的客户产品或服务的品牌、产品和互动；
                            <br/>6.跟踪微信推广效果，分析数据并反馈，总结经验，建立有效运营手段提升用户活跃度，增加粉丝数量；
                            <br/>7.制定并实施清晰的用户互动策略，发展粉丝与好友，通过持续互动转化潜在客户，提升企业及产品口碑；
                            <br/>8.能够策划组织线上与线下活动，通过活动增加社会化媒体曝光率，提高粉丝与好友数量，提升用户黏度；
                            <br/>9.搜集有效粉丝的问题反馈和批评建议，对有效粉丝的需求和行为进行数据分析，将整合后的数据提交给相关人员。
                            <br/><span class="contil">【任职要求】</span>
                            <br/>1.具有运营微信群运营经验，并有成功转化案例；
                            <br/>2.有从事互联网教育行业和社会化营销的相关经验；
                            <br/>3.能够根据用户的需求，创造更好的交互内容，具有创造平台内容的良好技巧；
                            <br/>4.熟悉移动互联网使用人群的特点及行为习惯；
                            <br/>5.辅助公司组建开放的团队构建社会化品牌营销体系。
                        </p>
                        <div class="more">
                            <p class="moreIcon"></p>
                        </div>
                    </li>
                    <li>
                        <div class="tite">市场营销专员</div>
                        <p class="content1">
                            <span class="contil">【岗位职责】</span>
                            <br/> 1.搜集、分析市场信息，通过各种销售渠道进行产品销售，完成各项销售指标；
                            <br/>2.通过沟通了解客户需求 , 开发新客户，拓展市场业务，寻求销售机会并完成销售业绩；
                            <br/>3.协调公司内部资源，提高客户满意度；
                            <br/>4.收集和分析市场数据，并定期反馈最新信息。
                            <br/><span class="contil">【任职要求】</span>
                            <br/>1.大专以上学历，有吃苦耐劳的精神；
                            <br/>2.具备优秀的电话沟通技巧、表达技巧和销售技巧；
                            <br/>3.富有开拓精神和良好的团队合作意识，有很强的学习和沟通能力，良好的协调能力；
                            <br/>4.有热情和激情，喜欢销售的工作。
                            <br/>5.能勤奋学习，具备良好的心态
                        </p>
                        <div class="more">
                            <p class="moreIcon"></p>
                        </div>
                    </li>
                </ul>
                <ul class="cur">
                    <li>
                        <div class="tite">web前端开发工程师</div>
                        <p class="content1">
                            <span class="contil">【岗位职责】</span>
                            <br />1.根据要求实现web页面实现多种前端展示与交互效果；
                            <br />2.负责移动web应用开发，并按照项目设计进度要求完成编码；
                            <br />3.参与软件的研发全过程，负责系统模块的设计、开发、产品化等工作，包括开发的相关文档。
                            <br/><span class="contil">【任职要求】</span>
                            <br />1.大专以上学历，有实际项目、微信开发经验优先；
                            <br />2.精通html和css及javascript面向对象编程方法，能够手写页面代码；
                            <br />3.熟练应用html5、css3；熟悉web2.0标准；了解dom、xml、json等相关技术；
                            <br />4.熟悉运用常见js开发框架(如jquery，sencha touch，iwebkit，backbone，angularjs)， 能快速高效实现各种交互效果；
                            <br />5.追求完美用户体验，工作认真细致，有责任心，具备良好的团队沟通与协作能力。
                        </p>
                        <div class="more">
                            <p class="moreIcon"></p>
                        </div>
                    </li>
                    <li>
                        <div class="tite">微信运营专员</div>
                        <p class="content1">
                            <span class="contil">【岗位职责】</span>
                            <br/> 1.独立负责运营公司微信官方账号，日常内容编辑、发布、维护、管理、互动、提高影响力和关注度；
                            <br/>2.负责微信公众账号的内容更新、人群聚焦、话题发起、客户管理等工作；
                            <br/>3.负责微信公众账号推广模式与渠道的探索，了解用户需求，收集用户反馈，分析用户行为及需求；
                            <br/>4.制定社会化媒体运营与品牌营销策略，在微信、豆瓣等社会化媒体开展品牌营销宣传工作；
                            <br/>5.利用微信平台推广企业的客户产品或服务的品牌、产品和互动；
                            <br/>6.跟踪微信推广效果，分析数据并反馈，总结经验，建立有效运营手段提升用户活跃度，增加粉丝数量；
                            <br/>7.制定并实施清晰的用户互动策略，发展粉丝与好友，通过持续互动转化潜在客户，提升企业及产品口碑；
                            <br/>8.能够策划组织线上与线下活动，通过活动增加社会化媒体曝光率，提高粉丝与好友数量，提升用户黏度；
                            <br/>9.搜集有效粉丝的问题反馈和批评建议，对有效粉丝的需求和行为进行数据分析，将整合后的数据提交给相关人员。
                            <br/><span class="contil">【任职要求】</span>
                            <br/>1.具有运营微信群运营经验，并有成功转化案例；
                            <br/>2.有从事互联网教育行业和社会化营销的相关经验；
                            <br/>3.能够根据用户的需求，创造更好的交互内容，具有创造平台内容的良好技巧；
                            <br/>4.熟悉移动互联网使用人群的特点及行为习惯；
                            <br/>5.辅助公司组建开放的团队构建社会化品牌营销体系。
                        </p>
                        <div class="more">
                            <p class="moreIcon"></p>
                        </div>
                    </li>
                    <li>
                        <div class="tite">市场营销专员</div>
                        <p class="content1">
                            <span class="contil">【岗位职责】</span>
                            <br/> 1.搜集、分析市场信息，通过各种销售渠道进行产品销售，完成各项销售指标；
                            <br/>2.通过沟通了解客户需求 , 开发新客户，拓展市场业务，寻求销售机会并完成销售业绩；
                            <br/>3.协调公司内部资源，提高客户满意度；
                            <br/>4.收集和分析市场数据，并定期反馈最新信息。
                            <br/><span class="contil">【任职要求】</span>
                            <br/>1.大专以上学历，有吃苦耐劳的精神；
                            <br/>2.具备优秀的电话沟通技巧、表达技巧和销售技巧；
                            <br/>3.富有开拓精神和良好的团队合作意识，有很强的学习和沟通能力，良好的协调能力；
                            <br/>4.有热情和激情，喜欢销售的工作。
                            <br/>5.能勤奋学习，具备良好的心态
                        </p>
                        <div class="more">
                            <p class="moreIcon"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 关于我们 -->
    <section class="aboutUs">
        <div class="wrap">
            <div class="aboutUsMain">
                <p class="serviceTitle">
                    <span><a id="aboutuS"></a>关于我们</span>
                    <span>ABOUT US</span>
                </p>
                <div></div>
                <div>
                    <p class="mask"></p>
                    <h3>企业文化
                    <p class="lines"></p>
                    </h3>
                    <p>笃行善思，致用创新，</p>
                    <p>成其久远</p>
                </div>
                <div>
                    <p class="mask"></p>
                    <h3>公司活动
                    <p class="lines"></p>
                    </h3>
                    <p class="content04">更多员工福利尽在证通网络</p>
                </div>
                <div>
                    <p class="mask"></p>
                    <h3>公司简介
                    <p class="lines"></p>
                    </h3>
                    <p class="content01">广州证通网络科技有限公司</p>
                </div>
                <div>
                    <p class="mask"></p>
                    <h3>联系我们
                    <p class="lines"></p>
                    </h3>
                    <p class="content02">加入我们</p>
                </div>
                <div>
                    <p class="mask"></p>
                    <h3>重大事件
                    <p class="lines"></p>
                    </h3>
                    <p class="content03">蜀信易电子商务有限公司成立</p>
                </div>
                <div></div>
            </div>
        </div>
    </section>
    <!-- 页脚 -->
    <footer class="footer">
        <ul>
            <li class="footerTop">
                <div class="wrap">
                    <div class="footerTitle">
                        <span>联系我们</span>
                        <span>CONTACT US</span>
                    </div>
                    <div class="footerconter">
                        <p>广州证通网络科技有限公司</p>
                        <p>
                            <span> ztwl@szzt.com.cn</span>
                            <span>020-31075948</span>
                            <span>地址 ：广东省广州市番禺区105国道大石段838号潮联大厦A1栋758-760室</span>
                        </p>
                        <p>
                            <span>511430</span>
                            <span> 020-31076048</span>
                        </p>
                    </div>
                    <div class="lineTop"></div>
                    <div class="lineDown"></div>
                    <div class="icon">
                        <!--                         <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul> -->
                    </div>
                </div>
            </li>
            <li class="footerDown">
                <p>版权所有@2016 广州证通网络科技有限公司 All Right Reserved 粤ICP备16051686号-1</p>
                <p> 友情链接：<a href="http://www.baidu.com " target="_block">百度</a>丨<a href="http://www.szzt.com.cn" target="_block">证通电子</a>丨<a href="http://www.scsxy.com.cn" target="_block">惠生活</a></p>
            </li>
        </ul>
    </footer>
</body>

</html>
<script src="libs/wow/js/wow.min.js" type="text/javascript"></script>
<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="libs/swiper/js/swiper-3.3.1.min.js" type="text/javascript"></script>
<script src="js/base.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>
<script>
window.onload = function() {
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 10000,
        speed: 1200,
        autoplayDisableOnInteraction: false

    });

}

var app = angular.module('myApp', []);
app.controller('personCtrl', ['$scope', '$http', function($scope, $http) {

    var code = 1;
    $http.post("../pageindexnew.php?code=" + code).success(function(data) {
        console.log(data);
        $scope.newscontent = data.new;

    });
    var code2 = 2;
    $http.post("../pageindexnew.php?code=" + code2).success(function(data) {
        console.log(data);
        $scope.industrydynamics = data.new;
    });
    var code3 = 3;
    $http.post("../pageindexnew.php?code=" + code3).success(function(data) {
        console.log(data);
        $scope.Companynews = data.new;
    });
}]);
app.filter("reverse", function() {
    return function(input, param1) {
        if (param1) {
            var rt = input.substr(5, 10).replace("-", ".");
            return rt;
        } else {
            var rt = input.substr(0, 4);
            return rt;
        }
    }
});
app.directive("errSrc", function() {
    return {
        link: function(scope, element, attrs) {
            element.bind("error", function() {
                if (attrs.src != attrs.errSrc) {
                    attrs.$set("src", attrs.errSrc);
                }
            });
        }
    }
});

</script>
